{% load static %}

{% if user.is_authenticated %}
<div class="user-name mb-5">
    <h2 class="auth-title">Кошельки</h2>
    {% if wallets %}
        {% for wallet in wallets %}
            <div class="wallet-item d-flex align-items-center justify-content-between py-2">
                <div class="wallet-name flex-grow-1 me-3">
                    <span class="fw-bold">
                        <a href="{% url 'wallet_account:wallet:page_wallet_transaction' wallet.id %}" 
                           class="wallet-info_category btn-title btn-title--sm wallet-name-link "
                           style="text-decoration:none !important;">
                                {{wallet.name}}
                            </a>
                        </span>
                </div>
                <div class="wallet-balance text-center flex-shrink-0" style="width: 140px;">
                    <span class="balance-amount fw-bold">{{ wallet.balance }}</span>
                    <span class="currency-icon">{{ wallet.get_currency_icon }}</span>
                </div>
                <div class="wallet-actions d-flex gap-2 flex-shrink-0">
                    <a href="{% url 'wallet_account:wallet:update_wallet' wallet.id %}" 
                       class="btn-icon edit"
                       aria-label="Редоктировать кошелек {{ wallet.name }}">
                        <img src="{% static 'img/icons/edit.svg' %}" class="icon" width="16" height="16">
                    </a>
                    <a href="{% url 'wallet_account:wallet:delete_wallet' wallet.id %}" 
                       class="btn-icon delete text-danger" 
                       aria-label="Удалить кошелек {{ wallet.name }}">
                        <img src="{% static 'img/icons/delete.svg' %}" class="icon" width="16" height="16">
                    </a>            
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text center text-muted"> 
            У вас нет кошельков 
        </p>
    {% endif %}
    <a href="{% url 'wallet_account:wallet:create_wallet' %}" class="auth-btn small full-width text-center">
        Создать кошелек
    </a>

    <div class="simple-divider"></div>

    <a href="{% url 'wallet_account:wallet:all_transaction' %}" class="btn-title btn-title--lg mb-3">Транзакции</a>
    <div class="auth-form">
        {% if transactions %}
            {% for transaction in transactions %}
                <div class="wallet-item mb-3">
                    <div class="wallet-info d-flex justify-content-between align-items-center">
                        <span class="badge type-{{ transaction.type }}">
                                {{ transaction.get_type_translate }}
                        </span>
                        <a href="{% url 'wallet_account:wallet:page_transaction' transaction.id %}?next=/account/my-wallet/" 
                           class="wallet-info_category btn-title btn-title--sm flex-grow text-center">
                           {{transaction.category}}
                        </a>
                        <span class="text-end">{{transaction.amount}}</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text center text-muted"> 
                У вас нет кошельков
            </p>
        {% endif %}
        <a href="{% url 'wallet_account:wallet:create_transaction' %}" class="auth-btn small full-width text-center">
            Создать транзакцию
        </a>
        
    </div>
</div>
{% else %}
    <div class="user-name mb-5">
        <p class="text-center user-muted mb-3"> Добро пожаловать на сайт для отслеживания своего бюджета.
            Для работы с сайтом зарегестрируйте свой аккаунт или войдите в уже существующий.
        </p>
        <a href="{% url 'wallet_account:signup' %}" class="auth-btn-outline mb-3"> Регистрация аккаунта</a>
    </div>
{% endif %}