# API Email
EMAIL_HOST_USER_YANDEX='Ваша почта'
EMAIL_HOST_PASSWORD_YANDEX='Ваш пароль приложения для почты'
EMAIL_PORT_YANDEX='порт работы яндекса'

# Postgres 
DB_POSTGRES_NAME = 'имя бд'
DB_POSTGRES_USER = 'имя пользователя бд'
DB_POSTGRES_PASSWORD = 'праоль бд'
DB_POSTGRES_HOST = 'имя хоста'
DB_POSTGRES_PORT = 'номер порта'