{% extends 'wallet/base.html' %}
{% block content %}
<h3> Обновление пользовательских данных </h3>
<form method="post">
    {% csrf_token %}
    {% if user.is_authenticated %}
        <div>
            <label for="{{ from.email.id_for_label }}">Email (Можно не менять):</label>
            {{form.email}}
            {{form.email.errors}}
        </div>
        <div>
            <label for="{{ from.username.id_for_label }}">Новый логин (Можно не менять):</label>
            {{form.username}}
            {{from.username.errors}}
        </div>

        <div>
            <label for="{{ from.first_name.id_for_label }}">Имя:</label>
            {{form.first_name}}
            {{form.first_name.errors}}
        </div>

        <div>
            <label for="{{ form.last_name.id_for_label }}">Фамилия:</label>
            {{form.last_name}}
            {{form.last_name.errors}}
        </div>
        
        <div>
            <a href="{% url 'wallet_account:change_password' %}">Изменить пароль</a>
        </div>
        
        <button type="submit">Сохранить</button>
    {% endif %}
</form>
{% endblock %}