{% extends 'wallet/base.html' %}
{% block content %}
    <div class="change-password-container">
        <h2>Сброс пароля</h3>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags|default:'info'}}">
                        {{ message}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.old_password.id_for_label}}">Старый пароль:</label>
                {{ form.old_password }}
                {% if form.old_packed.errors %}
                <div class="error">
                    {{ form.old_packed.errors }}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label}}">Новый пароль:</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div class="error">
                    {{ form.new_password1.errors }}
                </div>
            {% endif %}
            </div>
            
            <div class="form-group">
                <label for="'{{ form.new_password2.id_for_label }}">Повторите новый пароль:</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div class="error">
                    {{ form.new_password2.errors }}
                </div>
                {% endif %}
            </div>

            <button type="submit" class="'btn btn-primary">Изменить пароль</button>
        </form>

        <hr>
            <p>
                <a href="{% url 'wallet_account:update_user' %}">Вернуться в изменение профиля</a>
            </p>
        
    </div>
{% endblock %}