{% extends 'wallet/base.html' %}
{% block content %}
<div class="auth-form">
    <h3 class="auth-title">
        Сбросить пароль
    </h3>

    <form method="post" class="auth-fomr__body">
        {% csrf_token %}

        <div class="form-group mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">
                Email
            </label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error-message">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-actions mb-3">
            <button type="submit" class="auth-btn">
                Отправить
            </button>
        </div>
    </form>

    <div class="form-footer mb-3">
        <a href="{% url 'wallet_account:login' %}" class="auth-btn small">
            Вернуться ко входу
        </a>
    </div>
</div>
{% endblock %}