{% extends 'wallet/base.html' %}
{% block content %}
<div class="auth-form">
    <h3 class="auth-title">
        Пароль изменен
    </h3>

    <div class="message success">
        <p>Пароль изменен на новый.</p>
    </div>

    <div class="form-actions">
        <a href="{% url 'wallet_account:login' %}" class="auth-btn mb-3">
            Войти
        </a>
    </div>

    <div class="form-group">
        <a href="{% url 'wallet_account:wallet:my-wallet' %}" class="auth-btn small mb-3">
            Вернуться на главный экран
        </a>
    </div>
</div>
{% endblock %}