{% extends 'account/base.html' %}
{% block content %}
<h2>Установите новый пароль</h2>
{% if validlink %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="{{ form.new_password.id_for_label }}">Новый пароль:</label>
            {{ form.new_password }}
        </p>
        <p>
            <label for="{{ form.new_password2.id_for_label }}">Повторите пароль:</label>
            {{ form.new_password2 }}
        </p>
        <button type="submit">Сохранить</button>
    </form>
{% else %}
    <p>Ссылка недействительна. Возможно, она уже использовалась или истекла.</p>
{% endif %}
{% endblock %}