{% extends 'wallet/base.html' %}
{% block content %}
<div class="auth-form">
    <h3 class="auth-title">
        Письмо отправлено
    </h3>

    <div class="messages success">
        <p>
            Было отправлено письмо с инструкциями по сбросу пароля. 
            Проверьте почту.
        </p>
    </div>

    <div class="form-actions">
        <a href="{% url 'wallet_account:login' %}" class="auth-btn">
            Вернуться к входу
        </a>

        <a href="{% url 'wallet_account:password_reset' %}" class="auth-btn small">
            Отправить повторно
        </a>
    </div>
</div>
{% endblock %}